*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
full-consensus
dev-full-consensus
test-full-consensus
main-full-consensus
light-consensus
peer-key
wallet
certs

.env

server/config.json

server/datasources.production.json
